<div class="modal fade" id="popup-create" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true" style="background: #00000080;">
    <div class="modal-dialog modal-md" style="max-height:90%; margin-top: 100px;">
        <div class="modal-content" style="max-height: 90%; overflow-y: auto;">
            <div class="modal-header">
                <h1 class="h4 mb-3 form-title"><strong>Menu</strong></h1>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                        <div class="form-group">
                            @(Html.DevExtreme().TextBox().ElementAttr("class", "required-validation")
                                .Label("Nội dung").Value("Thiết lập tiêu chí theo vị trí ĐG").LabelMode(EditorLabelMode.Floating)
                                .MaxLength(50))
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                        <div class="form-group">
                            @(Html.DevExtreme().TextBox().ElementAttr("class", "required-validation")
                                .Label("Icon class").Value("fa fa-caret-right").LabelMode(EditorLabelMode.Floating)
                                .MaxLength(50))
                        </div>
                    </div>

                    <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                        <div class="form-group">
                            @(Html.DevExtreme().TextBox().ElementAttr("class", "required-validation")
                                .Label("Đường dẫn").Value("Category/MapCriteriasPosition/List").LabelMode(EditorLabelMode.Floating)
                                .MaxLength(50))
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                        <div class="form-group">
                            @(Html.DevExtreme().NumberBox().ElementAttr("class", "required-validation")
                                .Label("Thứ tự").Value(1).LabelMode(EditorLabelMode.Floating)
                                )
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                        <div class="form-group">
                            @(Html.DevExtreme().TextBox().ElementAttr("class", "required-validation")
                                .Label("Nhóm quyền").Value("MapCriteriasPosition.AllowView").LabelMode(EditorLabelMode.Floating)
                                .MaxLength(50))
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                        <div class="form-group">
                            @(Html.DevExtreme().TextBox().ElementAttr("class", "required-validation")
                                .Label("Hệ thống").Value("MapCriteriasPosition").LabelMode(EditorLabelMode.Floating)
                                .MaxLength(50))
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                        <div class="form-group">
                            @(Html.DevExtreme().SelectBox()
                                .ID("MenuParent")
                                .DataSource(d => d.WebApi().Area("Admin").Controller("Menu").LoadAction("GetMenuListApi"))
                                .DisplayExpr("name")
                                .ValueExpr("code")
                                .Placeholder("Chọn")
                                .SearchEnabled(true).Label("Thuộc").LabelMode(EditorLabelMode.Floating)
                                .ShowClearButton(true)
                                )
                        </div>
                    </div>
                    <div class="col-12 col-sm-3 col-md-3 col-lg-3 col-xl-3">
                        <div class="form-group">
                            @(Html.DevExtreme().CheckBox().Value(true).IconSize(18).ElementAttr("aria-label", "Custom size")
                                .Text("Mặc định")
                                )
                        </div>
                    </div>
                    <div class="col-12 col-sm-3 col-md-3 col-lg-3 col-xl-3">
                        <div class="form-group">
                            @(Html.DevExtreme().CheckBox().Value(true).IconSize(18).ElementAttr("aria-label", "Custom size")
                                .Text("Sử dụng")
                                )
                        </div>
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button id="btnSave" onclick="onButtonSaveClicked()" type="button" class="btn btn-purple-style">Lưu</button>
                <button id="btnClosee" onclick="onButtonCloseClicked()" type="button" class="btn btn-purple-style">Thoát</button>
            </div>
        </div>
    </div>
</div>

<script>

    function onButtonSaveClicked() {
        var modal = document.getElementById("popup-create");
        modal.classList.remove("show", "in");
        modal.style.display = "none";

        notify("Cập nhật dữ liệu thành công", "success");
    }

    function onButtonCloseClicked() {
        var modal = document.getElementById("popup-create");
        modal.classList.remove("show", "in");
        modal.style.display = "none";
    }

</script>