<div class="modal fade" id="popupPosition" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true" style="background: #00000080;">
    <div class="modal-dialog modal-md" style="max-height:90%; margin-top: 100px;">
        <div class="modal-content" style="max-height: 90%; overflow-y: auto;">
            <div class="modal-header">
                <h1 class="h4 mb-3 form-title"><strong>Thêm vị trí</strong></h1>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                        <div class="form-group">
                            @(Html.DevExtreme().TextBox().ElementAttr("class", "required-validation")
                                .Label("Mã vị trí").Value("GAD").LabelMode(EditorLabelMode.Floating))
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                        <div class="form-group">
                            @(Html.DevExtreme().TextBox().ElementAttr("class", "required-validation")
                                .Label("Tên vị trí").Value("GAD tổng đại lý").LabelMode(EditorLabelMode.Floating)
                                .MaxLength(50))
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                        <div class="form-group">
                            @(Html.DevExtreme().CheckBox().Value(true).IconSize(18).ElementAttr("aria-label", "Custom size")
                                .Text("Đăng ký")
                                )
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                        <div class="form-group">
                            @(Html.DevExtreme().CheckBox().Value(true).IconSize(18).ElementAttr("aria-label", "Custom size")
                                .Text("Phê duyệt")
                                )
                        </div>
                    </div>                    
                    <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                        <div class="form-group">
                            @(Html.DevExtreme().TextArea().ElementAttr("class", "required-validation")
                                .Label("Mô tả").LabelMode(EditorLabelMode.Floating))
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                        <div class="form-group">
                            @(Html.DevExtreme().TextBox().ElementAttr("class", "required-validation")
                                .Label("Vị trí kế tiếp").Value("SrDM").LabelMode(EditorLabelMode.Floating)
                                .MaxLength(50))
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                        <div class="form-group">
                            @(Html.DevExtreme().CheckBox().Value(true).IconSize(18).ElementAttr("aria-label", "Custom size")
                                .Text("Sử dụng")
                                )
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="btnSavePosition" onclick="onButtonSavePositionClicked()" type="button" class="btn btn-purple-style">Lưu</button>
                <button id="btnClosePosition" onclick="onButtonClosePositionClicked()" type="button" class="btn btn-purple-style">Thoát</button>
            </div>
        </div>
    </div>
</div>

<script>

    function onButtonSavePositionClicked() {
        var modal = document.getElementById("popupPosition");
        modal.classList.remove("show", "in");
        modal.style.display = "none";

        notify("Cập nhật dữ liệu thành công", "success");
    }

    function onButtonClosePositionClicked() {
        var modal = document.getElementById("popupPosition");
        modal.classList.remove("show", "in");
        modal.style.display = "none";
    }

</script>