<div class="modal fade" id="popup-create" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true" style="background: #00000080;">
    <div class="modal-dialog modal-md" style="max-height:90%; margin-top: 100px;">
        <div class="modal-content" style="max-height: 90%; overflow-y: auto;">
            <div class="modal-header">
                <h1 class="h4 mb-3 form-title"><strong>Quyền</strong></h1>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                        <div class="form-group">
                            @(Html.DevExtreme().TextBox().ElementAttr("class", "required-validation")
                                .Label("Quyền").Value("Message").LabelMode(EditorLabelMode.Floating)
                                .MaxLength(50))
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                        <div class="form-group">
                            @(Html.DevExtreme().TextBox().ElementAttr("class", "required-validation")
                                .Label("Mô tả").Value("Quản lý thông báo").LabelMode(EditorLabelMode.Floating)
                                .MaxLength(50))
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                        <div class="form-group">
                            @(Html.DevExtreme().TextBox().ElementAttr("class", "required-validation")
                                .Label("Ứng dụng").Value("22855d68-0419-4224-8e25-6d1f960d231f").LabelMode(EditorLabelMode.Floating)
                                .MaxLength(50))
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                        <div class="form-group">
                            @(Html.DevExtreme().SelectBox()
                                .ID("PermissionParent")
                                .DataSource(d => d.WebApi().Area("Admin").Controller("Permissions").LoadAction("GetPermissionListApi"))
                                .DisplayExpr("name")
                                .ValueExpr("code")
                                .Placeholder("Chọn")
                                .SearchEnabled(true).Label("Quyền cha").LabelMode(EditorLabelMode.Floating)
                                .ShowClearButton(true)
                                )
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                        <div class="form-group">
                            @(Html.DevExtreme().CheckBox().Value(true).IconSize(18).ElementAttr("aria-label", "Custom size")
                                .Text("Sử dụng")
                                )
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                        <div class="form-group">
                            @(Html.DevExtreme().CheckBox().Value(true).IconSize(18).ElementAttr("aria-label", "Custom size")
                                .Text("Is permissiontion")
                                )
                        </div>
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button id="btnSave" onclick="onButtonSaveClicked()" type="button" class="btn btn-purple-style">Lưu</button>
                <button id="btnClosee" onclick="onButtonCloseClicked()" type="button" class="btn btn-purple-style">Thoát</button>
            </div>
        </div>
    </div>
</div>

<script>

    function onButtonSaveClicked() {
        var modal = document.getElementById("popup-create");
        modal.classList.remove("show", "in");
        modal.style.display = "none";

        notify("Cập nhật dữ liệu thành công", "success");
    }

    function onButtonCloseClicked() {
        var modal = document.getElementById("popup-create");
        modal.classList.remove("show", "in");
        modal.style.display = "none";
    }

</script>