@model AgentTerSimpleResponseModel

<div class="modal fade" id="popup-create" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true" style="background: #00000080;">
    <div class="modal-dialog modal-md" style="max-height:90%; margin-top: 100px;">
        <div class="modal-content" style="max-height: 90%; overflow-y: auto;">
            <div class="modal-header">
                <h1 class="h4 mb-3 form-title"><strong>Thông tin chi tiết</strong></h1>
            </div>
            <div class="modal-body">
                <div class="row">
                </div>
            </div>
            <div class="modal-footer">
                <button id="btnSave" onclick="onButtonSaveClicked()" type="button" class="btn btn-purple-style">Lưu</button>
                <button id="btnClosee" onclick="onButtonCloseClicked()" type="button" class="btn btn-purple-style">Thoát</button>
            </div>
        </div>
    </div>
</div>

<div class="card card-body form-control-ui" style="border: 1px black">
    <h1 class="h4 mb-3 form-title"><strong>Thông tin chi tiết</strong></h1>
    <div class="row p-2">
        <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
            <span style="color: #725dcf">Tên đại lý: </span> @Html.DisplayFor(m => m.UnitName)
        </div>
        <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
            <span style="color: #725dcf">Mã đại lý: </span> @Html.DisplayFor(m => m.AgentCode)
        </div>
    </div>
    <div class="row p-2">
        <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
            <span style="color: #725dcf">Email: </span> @Html.DisplayFor(m => m.Email)
        </div>
        <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
            <span style="color: #725dcf">Số điện thoại: </span> @Html.DisplayFor(m => m.PhoneNumber)
        </div>
    </div>
    <div class="row p-2">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <span style="color: #725dcf">Địa chỉ: </span> @Html.DisplayFor(m => m.Address)
        </div>
    </div>
    <div class="row p-2">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <span style="color: #725dcf">Lý do chấm dứt hợp đồng: </span> @Html.DisplayFor(m => m.Reason)
        </div>
    </div>
    <div class="row p-2">
        <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
            <span style="color: #725dcf">Ban kinh doanh: </span>
        </div>
        <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
            <span style="color: #725dcf">Quản lý ban: </span>
        </div>
    </div>
    <div class="row p-2">
        <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
            <span style="color: #725dcf">Khu vực kinh doanh: </span> @Html.DisplayFor(m => m.DistrictName)
        </div>
        <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
            <span style="color: #725dcf">Quản lý khu vực: </span>
        </div>
    </div>
    <div class="row p-2">
        <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
            <span style="color: #725dcf">Vùng kinh doanh: </span> @Html.DisplayFor(m => m.RegionName)
        </div>
        <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
            <span style="color: #725dcf">Quản lý vùng: </span>
        </div>
    </div>
    <div class="row p-2 mt-3">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <span style="color: #725dcf">Trạng thái yêu cầu: </span>  <span class="fw-bold">@Html.DisplayFor(m => m.StatusName)</span>

        </div>
    </div>
    <div class="col-md-12 d-flex justify-content-center mt-3">
        <button class="btn btn-purple-style" type="button" onclick="onBackClicked()"><span class="glyphicon glyphicon-triangle-left"></span> Trở về</button>
    </div>
</div>


<div class="modal fade" id="popupDeny" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true" style="background: #00000080;">
    <div class="modal-dialog modal-md" style="max-height:90%; margin-top: 100px;">
        <div class="modal-content" style="max-height: 90%; overflow-y: auto;">
            <div class="modal-body">
                <div class="">
                    <h1 class="h4 mb-3 form-title"><strong>Từ chối</strong></h1>
                </div>
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <div class="form-group">
                            @(Html.DevExtreme().TextArea().ElementAttr("class", "required-validation")
                                .Label("Lý do từ chối").Value("").LabelMode(EditorLabelMode.Floating)
                                .MaxLength(1000))
                        </div>
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button id="btnSaveDeny" onclick="onButtonSaveDenyClicked()" type="button" class="btn btn-purple-style">Từ chối</button>
                <button id="btnCloseDeny" onclick="onButtonCloseDenyClicked()" type="button" class="btn btn-purple-style">Thoát</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="popupSendRequest" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true" style="background: #00000080;">
    <div class="modal-dialog modal-md" style="max-height:90%; margin-top: 100px;">
        <div class="modal-content" style="max-height: 90%; overflow-y: auto;">
            <div class="modal-body">
                <div class="">
                    <h1 class="h4 mb-3 form-title"><strong>Gửi phản hồi</strong></h1>
                </div>
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <div class="form-group">
                            @(Html.DevExtreme().TextArea().ElementAttr("class", "required-validation")
                                .Label("Nhập nội dung phản hồi").Value("").LabelMode(EditorLabelMode.Floating)
                                .MaxLength(1000))
                        </div>
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button onclick="onButtonSaveSendRequestClicked()" type="button" class="btn btn-purple-style">Gửi</button>
                <button onclick="onButtonCloseSendRequestClicked()" type="button" class="btn btn-purple-style">Thoát</button>
            </div>
        </div>
    </div>
</div>

<script>
    function onBackClicked() {
        location.href = '@Url.Action("Index", "ApprovalAgentTermination", new { area = "BUFeature" })';
    }

    function onButtonSaveClicked() {
        var modal = document.getElementById("popup-create");
        modal.classList.remove("show", "in");
        modal.style.display = "none";

        notify("Cập nhật dữ liệu thành công", "success");
    }

    function onButtonCloseClicked() {
        var modal = document.getElementById("popup-create");
        modal.classList.remove("show", "in");
        modal.style.display = "none";
    }

    function acceptClicked() {
        //notify("Cập nhật dữ liệu thành công", "success");
        var myDialog = confirmDialog("Bạn có muốn duyệt không?", "", "Có", "Không");
        myDialog.show().done(function (dialogResult) {
            if (dialogResult.buttonText === "Có") {
                notify("Cập nhật dữ liệu thành công", "success");
            }
        });
    }
    function denyClicked() {
        //notify("Cập nhật dữ liệu thành công", "success");
        var modal = document.getElementById("popupDeny");
        modal.classList.add("show", "in");
        modal.style.display = "block";

    }

    function onButtonSaveDenyClicked() {
        var modal = document.getElementById("popupDeny");
        modal.classList.remove("show", "in");
        modal.style.display = "none";

        notify("Cập nhật dữ liệu thành công", "success");
    }

    function onButtonCloseDenyClicked() {
        var modal = document.getElementById("popupDeny");
        modal.classList.remove("show", "in");
        modal.style.display = "none";
    }

    function sendRequestClicked() {
        //notify("Cập nhật dữ liệu thành công", "success");
        var modal = document.getElementById("popupSendRequest");
        modal.classList.add("show", "in");
        modal.style.display = "block";
    }

    function onButtonSaveSendRequestClicked() {
        var modal = document.getElementById("popupSendRequest");
        modal.classList.remove("show", "in");
        modal.style.display = "none";

        notify("Gửi phản hồi thành công", "success");
    }

    function onButtonCloseSendRequestClicked() {
        var modal = document.getElementById("popupSendRequest");
        modal.classList.remove("show", "in");
        modal.style.display = "none";
    }

</script>
