@using AdminWeb.Areas.BU.Controllers;
@using AdminWeb.Models
@using Microsoft.AspNetCore.Mvc.Localization

@inject IHtmlLocalizer<AgentInfoChangeController> HtmlLocalizer

@{
    var confirmDeleteMessage = String.Format(@HtmlLocalizer["ConfirmDeleteMessage"].Value);
    var confirmDeleteTitle = String.Format(@HtmlLocalizer["ConfirmDeleteTitle"].Value);
}

<div class="container-fluid p-0">
    <h1 class="h4 mb-3 form-title"><strong>Duyệt chuyển đổi đại lý</strong></h1>
    <div class="row">
        <div class="col-12 col-md-12 col-xxl-6 d-flex order-3 order-xxl-2">
            <div class="card flex-fill w-100 form-control-ui">
                <div class="card-header">
                    <h5 style="margin-top: 0px" class="card-title mb-0">Tìm kiếm</h5>
                </div>
                <div class="card-body py-3">
                    <div class="row">
                        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                            <div class="form-group">
                                @(Html.DevExtreme().TextBox()
                                    .Label("Mã FC").LabelMode(EditorLabelMode.Floating)
                                    .MaxLength(50).ShowClearButton(true))
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                            <div class="form-group">
                                @(Html.DevExtreme().TextBox()
                                    .Label("Người yêu cầu").LabelMode(EditorLabelMode.Floating)
                                    .MaxLength(100).ShowClearButton(true))
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                            <div class="form-group">
                                @(Html.DevExtreme().DateBox()
                                    .Label("Từ ngày")
                                    .Type(DateBoxType.Date)
                                    .ID("fromDate")
                                    .DisplayFormat("dd/MM/yyyy HH:mm")
                                    .UseMaskBehavior(true)
                                    .Placeholder("dd/mm/yyyy HH:mm")
                                    )
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                            <div class="form-group">
                                @(Html.DevExtreme().DateBox()
                                    .Label("Đến ngày")
                                    .Type(DateBoxType.Date)
                                    .ID("toDate")
                                    .DisplayFormat("dd/MM/yyyy HH:mm")
                                    .UseMaskBehavior(true)
                                    .Placeholder("dd/mm/yyyy HH:mm")
                                    )
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                            <div class="form-group">
                                @(Html.DevExtreme().SelectBox()
                                    .ID("Status")
                                    .DataSource(d => d.WebApi().Area("BU").Controller("ApprovalChangeAgency").LoadAction("GetStatusTypeListApi"))
                                    .DisplayExpr("name")
                                    .ValueExpr("code")
                                    .Placeholder("Chọn")
                                    .SearchEnabled(true).Label("Loại yêu cầu").LabelMode(EditorLabelMode.Floating)
                                    .ShowClearButton(true)
                                    )
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                            <div class="form-group">
                                @(Html.DevExtreme().SelectBox()
                                    .ID("Request")
                                    .DataSource(d => d.WebApi().Area("BU").Controller("ApprovalChangeAgency").LoadAction("GetRequestTypeListApi"))
                                    .DisplayExpr("name")
                                    .ValueExpr("code")
                                    .Placeholder("Chọn")
                                    .SearchEnabled(true).Label("Trạng thái").LabelMode(EditorLabelMode.Floating)
                                    .ShowClearButton(true)
                                    )
                            </div>
                        </div>
                    </div>
                    <div class="row button-search-row">
                        <div class="col-md-12">
                            <button class="btn btn-purple-style" type="submit">@HtmlLocalizer["Clear"]</button>
                            <button class="btn btn-purple-style" type="submit">@HtmlLocalizer["Search"]</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-12 col-xxl-6 d-flex order-3 order-xxl-2">
            <div class="card flex-fill w-100 form-control-ui">
                <div class="card-body py-3">
                    @(Html.DevExtreme().DataGrid()
                            .ID("gridList")
                            .DataSource(d => d.WebApi()
                            .Area("BUFeature")
                            .Controller("ApprovalChangeAgency")
                            .LoadAction("GetDataTableList")
                            .Key("ApprovalChangeAgencyId")
                            )
                            .ShowBorders(true)
                            .Selection(s => s.Mode(SelectionMode.Single))
                            .Export(e => e.Enabled(true).AllowExportSelectedData(false)).OnExporting("exportingGrid")
                            .Columns(columns =>
                            {
                                columns.Add().Caption("").Width(70)
                            .DataField(nameof(ApprovalChangeAgencyResponseModel.ApprovalChangeAgencyId))
                            .CellTemplate(@<text>
                                <div style="text-align: center">
                                    <span style="cursor: pointer;" class="glyphicon glyphicon-info-sign icon-grid" onclick='onEditClicked("<%= value %>")'></span>
                                </div>
                            </text>);
                                columns.Add().DataField(nameof(ApprovalChangeAgencyResponseModel.ApprovalChangeAgencyId)).Visible(false);
                                columns.Add().DataField(nameof(ApprovalChangeAgencyResponseModel.RequestTypeName)).Caption("Loại yêu cầu");
                                columns.Add().DataField(nameof(ApprovalChangeAgencyResponseModel.RequestCode)).Caption("Mã yêu cầu");
                                columns.Add().DataField(nameof(ApprovalChangeAgencyResponseModel.Name)).Caption("Tên yêu cầu");
                                columns.Add().DataField(nameof(ApprovalChangeAgencyResponseModel.FCCode)).Caption("Mã FC");
                                columns.Add().DataField(nameof(ApprovalChangeAgencyResponseModel.RequestName)).Caption("Người yêu cầu");
                                columns.Add().DataField(nameof(ApprovalChangeAgencyResponseModel.Reason)).Caption("Lý do");
                                columns.Add().DataField(nameof(ApprovalChangeAgencyResponseModel.StepRequest)).Caption("Bước phê duyệt");
                                columns.Add().DataField(nameof(ApprovalChangeAgencyResponseModel.RequestNameNext)).Caption("Người phê duyệt kế tiếp");
                                columns.Add().DataField(nameof(ApprovalChangeAgencyResponseModel.StatusName)).Caption("Trạng thái");

                                columns.Add().DataField(nameof(ApprovalChangeAgencyResponseModel.CreationDate)).Caption("Ngày tạo").DataType(GridColumnDataType.DateTime).Format("dd/MM/yyyy  HH:mm").Alignment(HorizontalAlignment.Center).Width(150);

                            })
                        .ColumnHidingEnabled(true)
                        .AllowColumnResizing(true)
                        .ColumnAutoWidth(true)
                        .ColumnMinWidth(50)
                        .ShowRowLines(true)
                        .FilterRow(f => f.Visible(true))
                        .HeaderFilter(f => f.Visible(false))
                        .GroupPanel(p => p.Visible(false))
                        .Grouping(g => g.AutoExpandAll(false))
                        .RemoteOperations(false)
                        .Paging(paging => paging.PageSize(10))
                        .Pager(pager =>
                        {
                            pager.ShowPageSizeSelector(true);
                            pager.AllowedPageSizes(new[] { 5, 10, 20 });
                            pager.ShowInfo(true);
                        })
                        .MasterDetail(md =>
                        {
                            md.Enabled(true);
                            md.Template(@<text>
                                @(Html.DevExtreme().DataGrid().ElementAttr("masterid", new JS("data.ApprovalChangeAgencyId"))
                                            .ID("gridDetailContainer")
                                            .ColumnAutoWidth(true)
                                            .ShowBorders(true)
                                            .Columns(columns =>
                                            {
                                    columns.Add().DataField(nameof(ListUserApprove.UserId)).Visible(false);
                                    columns.Add().DataField(nameof(ListUserApprove.UserName)).Caption("Người duyệt");
                                    columns.Add().DataField(nameof(ListUserApprove.UserCode)).Caption("Mã người duyệt");
                                    columns.Add().DataField(nameof(ListUserApprove.PhoneNumber)).Caption("Số điện thoại");
                                    columns.Add().DataField(nameof(ListUserApprove.Position)).Caption("Vị trí");

                                    columns.Add().DataField(nameof(ListUserApprove.ApproveDate)).Caption("Ngày duyệt").DataType(GridColumnDataType.DateTime).Format("dd/MM/yyyy  HH:mm").Alignment(HorizontalAlignment.Center).Width(150);
                                })
                                            .DataSource(d => d.WebApi()
                                            .Area("BUFeature")
                                            .Controller("ApprovalChangeAgency")
                                            .LoadAction("GetDataTableChildList")
                                            .LoadParams(new { id = new JS("data.ApprovalChangeAgencyId") })
                                            .Key("UserId")
                                            )
                                            //.Visible(new JS("data.TYPE === 'MENU'"))
                                            )

                                </text>);

                        })
                        )
                </div>
            </div>
        </div>
    </div>
</div>


<script>

    // function GetEventId(e) {
    //     const dataGridInstance = $("#gridList").dxDataGrid("instance");
    //     const selectedRowsData = dataGridInstance.getSelectedRowsData();
    //     //console.log("GeteventId = ", dataGridInstance.Selection.SelectRowByKey("ApprovalChangeAgencyId"))
    //     debugger;
    //     if (selectedRowsData.length > 0) {
    //         const selectedRowData = selectedRowsData[0];

    //         return selectedRowData.ApprovalChangeAgencyId
    //     }

    //     return 0
    // }

    function onEditClicked(id) {
        window.location.href = '@Url.Action("Detail", "ApprovalChangeAgency", new { Area = "BUFeature" })/' + id;
    }

    function exportingGrid(e) {
        var workbook = new ExcelJS.Workbook();
        var worksheet = workbook.addWorksheet('ApprovalChangeAgency');

        DevExpress.excelExporter.exportDataGrid({
            component: e.component,
            worksheet: worksheet,
            autoFilterEnabled: true
        }).then(function () {
            workbook.xlsx.writeBuffer().then(function (buffer) {
                saveAs(new Blob([buffer], { type: 'application/octet-stream' }), 'ApprovalChangeAgencyList.xlsx');
            });
        });
        e.cancel = true;
    }
</script>

